[flake8]
max-line-length = 600
jobs = auto
exclude =
    .venv,
    .uv-cache,
    node_modules,
    mcp-servers,
    .git,
    .github,
    .hypothesis,
    .pytest_cache,
    .pylint-cache,
    .benchmarks,
    .devcontainer,
    dist,
    *.egg-info,
    __pycache__,
    .mypy_cache,
    .ruff_cache,
    build,
    htmlcov,
    .tox,
    .nox,
    agent_runtimes,
    charts,
    deploy,
    deployment,
    docs,
    examples,
    infra,
    llms,
    logs,
    paper,
    plugins_rust,
    plugin_templates,
    reports,
    scripts,
    tmp,
    todo
extend-ignore =
    E203,
    W503
per-file-ignores =
    mcpgateway/services/gateway_service.py: DAR401,DAR402
    mcpgateway/translate.py: DAR401
    tests/**/*.py: DAR
    tests/loadtest/locustfile.py: DAR101,DAR201,DUO102
    tests/unit/mcpgateway/cache/test_cache_invalidation_subscriber.py: DAR101,DAR201
    mcpgateway/plugins/framework/external/grpc/proto/*_pb2.py: E501,E701,E711,W503,N802,F401,E402,DAR
    mcpgateway/plugins/framework/external/grpc/proto/*_pb2_grpc.py: E501,E701,E711,W503,N802,F401,DAR
    mcpgateway/plugins/framework/external/grpc/server/server.py: N802
